
  
  .heading {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #99154E; 
    text-align: center;
    background-color: #FFC0CB;
    border-radius: 55px;
    padding: 20px;
  }
  
  .paragraph {
    font-size: 16px;
    margin-top: 20px; 
    line-height: 1.6;
    font-family: cursive;
  }
  